<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Clypra 需要访问摄像头，以便同时录制屏幕和摄像头画面。</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Clypra 需要访问麦克风，以便在录制屏幕时录制音频。</string>
  <key>NSScreenCaptureUsageDescription</key>
  <string>Clypra 需要屏幕录制权限，以捕获屏幕内容。</string>
</dict>
</plist>
